<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.studentsassistant">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudentsAssistant">
        <activity android:name=".diu.DiuPhermacy"></activity>
        <activity android:name=".diu.DiuTextile" />
        <activity android:name=".diu.DiuEee" />
        <activity android:name=".diu.DiuCse" />
        <activity android:name=".AustInfo" />
        <activity android:name=".AiubInfo" />
        <activity android:name=".AustDepartments" />
        <activity android:name=".AiubDepartments" />
        <activity android:name=".NsuInfo" />
        <activity android:name=".BracInfo" />
        <activity android:name=".diu.DiuInfo" />
        <activity android:name=".BuetInfo" />
        <activity android:name=".NsuDepartments" />
        <activity android:name=".BracDepartments" />
        <activity android:name=".diu.DiuDepartments" />
        <activity android:name=".BuetDepartments" />
        <activity android:name=".HomePage" />
        <activity android:name=".LoginPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>